# Simulator Configuration
MQTT_BROKER=mqtt.thingsboard.cloud
MQTT_PORT=1883
MQTT_TOPIC=v1/devices/me/telemetry
MQTT_USER=your_device_access_token_here
MQTT_PASS=
SEND_INTERVAL=60
DEVICE_ID=your_device_name_here

# Simulation Flags
SIMULATE_HEAT_STRESS=false
SIMULATE_FALL=false
BATTERY_LEVEL=0.9
